[Desktop Entry]
Name=org-protocol
Comment=Capture things into emacs org-mode
TryExec=/home/spencer/.local/bin/emx
Exec=emx '%u'
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
NoDisplay=true