[Unit]
Description=Transmission daemon
Requires=dbus.service

[Service]
WorkingDirectory=%h 
ExecStart=/usr/bin/transmission-daemon -f
TimeoutStopSec=3
Restart=always 